/* @import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Chewy&family=Comic+Relief:wght@400;700&family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"); */

@import "tailwindcss";

@layer base {
  body {
    background-color: black;
    color: #e5e5e5;
  }
}

@layer components {
  .nav-link {
    @apply hover:opacity-80 cursor-pointer;
  }
}

@layer components {
  .navbarStyle {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );
  }
}
